src/statemachines/survey-processor.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Lambda Invoke",
  "States": {
    "Lambda Invoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${DocParserLambda}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "DetectSentiment"
    },
    "DetectSentiment": {
      "Type": "Task",
      "Next": "DynamoDB PutItem",
      "Parameters": {
        "LanguageCode": "en",
        "Text.$": "$.OverallComment"
      },
      "Resource": "arn:aws:states:::aws-sdk:comprehend:detectSentiment",
      "ResultPath": "$.sentimentTask"
    },
    "DynamoDB PutItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${TableName}",
        "Item": {
          "pk": {
            "S": "Survey"
          },
          "sk": {
            "S.$": "$.metadata.timestamp"
          },
          "Name": {
            "S.$": "$.Name"
          },
          "Email": {
            "S.$": "$.Email"
          },
          "FoodQuality": {
            "N.$": "$.FoodQuality"
          },
          "CabinAccessibility": {
            "N.$": "$.CabinAccessibility"
          },
          "Topics": {
            "N.$": "$.Topics"
          },
          "SessionLength": {
            "N.$": "$.SessionLength"
          },
          "CabinCleanliness": {
            "N.$": "$.CabinCleanliness"
          },
          "SpeakerChoice": {
            "N.$": "$.SpeakerChoice"
          },
          "OverallComment": {
            "S.$": "$.OverallComment"
          },
          "HighlightComment": {
            "S.$": "$.HighlightComment"
          }
        }
      },
      "Next": "EventBridge PutEvents"
    },
    "EventBridge PutEvents": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail.$": "$",
            "DetailType": "survey-processed",
            "EventBusName": "${EventBusName}",
            "Source": "doc-parser"
          }
        ]
      },
      "End": true
    }
  }
}